@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
@import url(//db.onlinewebfonts.com/c/388d4c308786c84a30904847f46525c8?family=Intro+Rust+G+Base+2+Line);


body {
	margin: 0;
	font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #333333, #dd1818);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #333333, #dd1818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
 
.container {
	width: 100%;
}

.demo {
	width: 90%;
	max-width: 600px;
	position: relative;
	top: 60px;
	background-color: rgba(255, 251, 251, 0.548);
	margin: 45px auto;
	padding: 10px 30px;
	text-align: center;
	border-radius: 6px;
	text-align: left;
	color: black;
	opacity: 0;
	transition: all 0.3s ease;

}

.demo.active {
	opacity: 1;
	top: 0;
}

textarea{
    width: 80%;
    height: 30px;
    margin: auto;
}

.btn {
    border: solid blue;
    font-family: 'Lato';
    font-size: inherit;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white !important;
  }

h3{
	font-family: 'Reggae One', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin:  1% 0 1% 0;
    font-family: "Intro Rust G Base 2 Line";
    
}